<div id='calendar' class="my-5"></div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var today = moment().day();
  // $('#calendar').fullCalendar({
  //   firstDay: today
  // });


  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    initialDate: today,
    headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
    events: [
      {
        title: 'Tekkon',
        start: '2022-10-30'
      },
      {
        title: 'Philconstruct',
        start: '2022-11-03',
        end: '2022-11-06'
      },
      // {
      //   groupId: '999',
      //   title: 'Repeating Event',
      //   start: '2022-08-09T16:00:00'
      // },
      // {
      //   groupId: '999',
      //   title: 'Repeating Event',
      //   start: '2022-08-16T16:00:00'
      // },
      {
        title: '3rd PNP Hackathon',
        start: '2022-10-18',
        end: '2022-10-19',
        url: '/cyber/22-10-10'
      },      
      {
        title: 'Digicon',
        start: '2022-10-27',
        end: '2022-10-28',
        url: '/cyber/22-10-26'
      },
      {
        title: 'Web3 Hackathon',
        start: '2022-11-12',
        end: '2022-11-13',
        url: '/cyber/22-10-25'
      },      
      // {
      //   title: 'Meeting',
      //   start: '2022-08-12T10:30:00',
      //   end: '2022-08-12T12:30:00'
      // },
      {
        title: 'Agri @ RCBC',
        start: '2022-11-17'
      }
    ]
  });

  calendar.render();
});

</script>