<div id='calendar' class="my-5"></div>

<style type="text/css">
  .fc-daygrid-day-number { color: gray }
  .fc-col-header-cell-cushion { color: gray }
</style>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');



  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    initialDate: '2022-11-01',
    headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
    eventColor: '#fbea41',
    eventTextColor: 'gray',
    // textColor: 'gray,'
    events: [
      {
        title: 'Tekkon',
        start: '2022-10-30'
      },
      {
        title: 'Philconstruct',
        start: '2022-11-03',
        end: '2022-11-07',
        url: '/energy/22-11-03'
      },
      // {
      //   groupId: '999',
      //   title: 'Repeating Event',
      //   start: '2022-08-09T16:00:00'
      // },
      // {
      //   groupId: '999',
      //   title: 'Repeating Event',
      //   start: '2022-08-16T16:00:00'
      // },
      {
        title: '3rd PNP Hackathon',
        start: '2022-10-18',
        end: '2022-10-19',
        url: '/competitions/22-10-10'
      },      
      {
        title: 'Digicon',
        start: '2022-10-27',
        end: '2022-10-29',
        url: '/cyber/22-10-26'
      },
      {
        title: 'ASEAN Clean Energy Week',
        start: '2022-11-14',
        end: '2022-11-16',
        url: '/energy/22-11-01'
      },      
      {
        title: 'Web3 Hackathon',
        start: '2022-11-12',
        end: '2022-11-14',
        url: '/cyber/22-11-06'
      },      
      // {
      //   title: 'Meeting',
      //   start: '2022-08-12T10:30:00',
      //   end: '2022-08-12T12:30:00'
      // },
      {
        title: 'Agri @ RCBC',
        start: '2022-11-17'
      },
      {
        title: 'Devcon 2022',
        start: '2022-11-18',
        url: '/tech/22-11-09'
      },
      {
        title: 'Phil Semiconductors Convention',
        start: '2022-11-16',
        end: '2022-11-19',
        url: '/tech/22-11-15'        
      },      
    ]
  });

  calendar.render();
});

</script>